@using System.Web.Configuration
@{
    var company = WebConfigurationManager.AppSettings["company"];
    var farm = WebConfigurationManager.AppSettings["farm"];
    var address = WebConfigurationManager.AppSettings["address"];
    var phone = WebConfigurationManager.AppSettings["phone"];
    var email = WebConfigurationManager.AppSettings["email"];
}
<div class="col-xs-12 col-md-10 col-md-offset-1 product-contact-wrapper">
    <h3 class="product-contact">LIÊN HỆ TƯ VẤN VÀ BÁO GIÁ</h3>
    <h4 class="company-name"><i>@company</i></h4>
    <ul>
        <li><b>Email:</b> @email</li>
        <li><b>Sđt:</b> @phone</li>
        <li><b>Địa chỉ:</b> @address</li>
        <li><b>Trang trại:</b> @farm</li>
    </ul>
</div>
