@using HSCB.Models
@using HSCB.Utilities

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="featured">
    <!-- start slider -->
    <div class="">
        <div class="row">
            <div class="col-lg-12">
                <!-- Slider -->
                <div id="main-slider" class="flexslider box-shadow">
                    <ul class="slides">
                        <li>
                            <img src="~/Content/images/hscb/anh-ve-cong-ty/hscb.jpg" alt="" />
                            <div class="flex-caption">
                                <h3>Luôn đi đầu</h3>
                                <p>trong việc phát triển các hệ thống trang trại truyền thống theo hướng hữu cơ, với mô hình sản xuất hoàn toàn khép kín...</p>
                                <a href="@Url.Action("AboutUs","CompanyStory")" class="btn btn-theme">Tìm hiểu thêm</a>
                            </div>
                        </li>
                        <li>
                            <img src="~/Content/images/hscb/anh-ve-cong-ty/image003.jpg" alt="" />
                            <div class="flex-caption">
                                <h3>Không ngừng lớn mạnh</h3>
                                <p>và liên tục phát triển không chỉ về quy mô sản xuất, mà cả về kĩ thuật chăn nuôi, trồng trọt....</p>
                                <a href="@Url.Action("AboutUs","CompanyStory")" class="btn btn-theme">Tìm hiểu thêm</a>
                            </div>
                        </li>
                        <li>
                            <img src="~/Content/images/hscb/anh-ve-cong-ty/image005.jpg" alt="" />
                            <div class="flex-caption">
                                <h3>Tầm nhìn</h3>
                                <p>Trở thành thương hiệu hàng đầu về thực phẩm sạch tự nhiên, nâng cao chất lượng cuộc sống...</p>
                                <a href="@Url.Action("AboutUs","CompanyStory")" class="btn btn-theme">Tìm hiểu thêm</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end slider -->
            </div>
        </div>
    </div>
</section>
<section id="news">
    <div class="col-xs-12" style="background-color: #fff;">
        <div class="row">
            <div class="col-xs-12">
                @if (ViewBag.companyActivity != null)
                {
                    var data = (HomePageNewsDTO) ViewBag.companyActivity;
                    var mainTitle = data.NewContent.Title;
                    var mainImg = data.NewContent.Image;
                    var newLink = Url.Action("Activity", "News", new { data.NewContent.Id });
                    
                    var mainContent = data.NewContent.Detail.Truncate(200) + $"<a href='{newLink}'> Xem thêm </a></p>";

                    var subNews = data.OldContents;


                    <div class="col-lg-6">
                        <div class="box-thin">
                            <div class="box box-shadow">
                                <div class="main-news">
                                    <div class="box-bottom box-bottom-min">
                                        <h4>Hoạt động HSCB</h4>
                                    </div>
                                
                                    <div class="box-gray aligncenter padding-bottom-10">
                                        <div class="icon imageContainer imageContainer-large">
                                            <a href="@newLink">
                                                <div class="img" style="background-image: url('/Content/images/hscb/@mainImg');"></div>
                                            </a>
                                        </div>
                                        <a href="@newLink">
                                            <p>@mainTitle</p>
                                        </a>
                                        <div>
                                            @Html.Raw(mainContent)
                                        </div>
                                    </div>
                                </div>
                                <div class="sub-news">
                                    <div class="box-gray padding-bottom-10">
                                        <div class="row">
                                            @foreach (var item in subNews)
                                            {
                                                var subTitle = item.Title.Truncate(75);
                                                var subImg = item.Image;
                                                var subLink = Url.Action("Activity", "News", new { item.Id });
                    
                                                <div class="col-xs-6">
                                                    <div class="icon imageContainer">
                                                        <a href="@subLink" class="sub-new-title">
                                                            <div class="img" style="background-image: url('/Content/images/hscb/@subImg');"></div>
                                                        </a>
                                                    </div>
                                                    <a href="@subLink" class="sub-new-title">
                                                        @subTitle
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
                @if (ViewBag.productNews != null)
                {
                    var data = (HomePageNewsDTO)ViewBag.companyActivity;
                    var mainTitle = data.NewContent.Title;
                    var mainImg = data.NewContent.Image;
                    var newLink = Url.Action("ProductNews", "News", new { data.NewContent.Id });

                    var mainContent = data.NewContent.Detail.Truncate(200) + $"<a href='{newLink}'> Xem thêm </a></p>";

                    var subNews = data.OldContents;


                    <div class="col-lg-6">
                        <div class="box-thin">
                            <div class="box box-shadow">
                                <div class="main-news">
                                    <div class="box-bottom box-bottom-min">
                                        <h4>Tin tức sản phẩm HSBC</h4>
                                    </div>

                                    <div class="box-gray aligncenter padding-bottom-10">
                                        <div class="icon imageContainer imageContainer-large">
                                            <a href="@newLink">
                                                <div class="img" style="background-image: url('/Content/images/hscb/@mainImg');"></div>
                                            </a>
                                        </div>
                                        <a href="@newLink">
                                            <p>@mainTitle</p>
                                        </a>
                                        <div>
                                            @Html.Raw(mainContent)
                                        </div>
                                    </div>
                                </div>
                                <div class="sub-news">
                                    <div class="box-gray padding-bottom-10">
                                        <div class="row">
                                            @foreach (var item in subNews)
                                            {
                                                var subTitle = item.Title.Truncate(75);
                                                var subImg = item.Image;
                                                var subLink = Url.Action("ProductNews", "News", new { item.Id });

                                                <div class="col-xs-6">
                                                    <div class="icon imageContainer">
                                                        <a href="@subLink" class="sub-new-title">
                                                            <div class="img" style="background-image: url('/Content/images/hscb/@subImg');"></div>
                                                        </a>
                                                    </div>
                                                    <a href="@subLink" class="sub-new-title">
                                                        @subTitle
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="callaction">
    <div class="">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h2>Lĩnh vực hoạt động HSCB</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box box-shadow">
                            <div class="box-bottom">
                                <h4>Hệ thống trang trại sạch khép kín</h4>
                            </div>
                            <div class="box-gray aligncenter">
                                @*<div class="icon">
                                    <img src="~/Content/images/hscb/du-an-bo/image009.jpg"/>
                                </div>*@
                                <p>
                                    HSCB tạo dựng thương hiệu của mình trong lĩnh vực nông nghiệp với hệ thống chuồng trại chăn nuôi và trồng trọt theo mô hình hoàn toàn sạch và khép kín.
                                    Hiện Công ty đã có hệ thống trang trại, đối tác rộng khắp cả nước...
                                </p>
                                <a href="@Url.Action("FarmSystem","ActitityField")" class="text-link">- Tìm hiểu thêm -</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box box-shadow">
                            <div class="box-bottom">
                                <h4>Xuất nhập khẩu nông sản</h4>
                            </div>
                            <div class="box-gray aligncenter">
                                @*<div class="icon">
                                    <img src="~/Content/images/hscb/chanh-day/img1.png"/>
                                </div>*@
                                <p>
                                    Không dừng lại ở việc tiêu thụ sản phẩm trong nước, HSCB còn mong muốn mở rộng thị trường xuất khẩu để mang đến cho người tiêu dùng các nước bạn những sản phẩm chất lượng của doanh nghiệp mình...
                                </p>
                                <a href="@Url.Action("ImportExport","ActitityField")" class="text-link">- Tìm hiểu thêm -</a>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Valid HTML5</h4>
                                <div class="icon">
                                    <i class="fa fa-code fa-3x"></i>
                                </div>
                                <p>
                                    Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                </p>

                            </div>
                            <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <!-- Portfolio Projects -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="heading">Sản phẩm</h4>
                <div class="row">
                    <section id="projects">
                        <ul id="thumbs" class="portfolio">
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="web">
                                <div class="item-thumbs box-shadow">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Dự án bò" href="~/Content/images/hscb/du-an-bo/image009.jpg">
                                        <span class="overlay-img">
                                            Dự án bò...
                                        </span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="~/Content/images/hscb/du-an-bo/image017.jpg" alt="Bò lai sind, bò Vàng Việt Nam được nuôi với quy trình sạch nên tỉ lệ mỡ rất thấp, bò khỏe, khả năng chóng chịu bệnh tốt">
                                </div>
                                <div class="text-center" style="padding-bottom: 10px;">
                                    <p class="text-center"><b>Dự án bò</b></p>    
                                    <a href="@Url.Action("Details","Products", new {id = 10})" class="text-link-min">Tìm hiểu thêm</a>
                                </div>
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
                                <div class="item-thumbs box-shadow">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Dự án bắp" href="~/Content/images/hscb/bap-u-chua/image058.jpg">
                                        <span class="overlay-img">
                                            Dự án bắp...
                                        </span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="~/Content/images/hscb/bap-u-chua/image056.jpg" alt="Bắp được ủ và đóng gói với quy trình sản xuất hiện đại, đáp ứng được tiêu chuẩn xuất khẩu của thị trường quốc tế">
                                </div>
                                <div class="text-center" style="padding-bottom: 10px;">
                                    <p class="text-center"><b>Dự án bắp</b></p>
                                    <a href="@Url.Action("Details","Products", new {id = 13})" class="text-link-min">Tìm hiểu thêm</a>
                                </div>
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                                <div class="item-thumbs box-shadow">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Sản phẩm từ nha đam" href="~/Content/images/hscb/san-pham-nha-dam/nhadam.jpg">
                                        <span class="overlay-img">
                                            Sản phẩm từ nha đam...
                                        </span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="~/Content/images/hscb/san-pham-nha-dam/nhadam-resize.jpg" alt="Chúng tôi cung cấp nha đam nguyên lá, đông lạnh, thịt nha đam, thạch nha đam, nha đam sấy khô, bột nha đam">
                                </div>
                                <div class="text-center" style="padding-bottom: 10px;">
                                    <p class="text-center"><b>Sản phẩm từ nha đam</b></p>
                                    <a href="@Url.Action("Details","Products", new {id = 12})" class="text-link-min">Tìm hiểu thêm</a>
                                </div>
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                                <div class="item-thumbs box-shadow">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Dự án chanh dây" href="~/Content/images/hscb/chanh-day/img1.png">
                                        <span class="overlay-img">
                                            Dự án chanh dây...
                                        </span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="~/Content/images/hscb/chanh-day/img0-resize.jpg" alt="Chúng tôi cung cấp chanh dây tươi, dịch chanh dây.">
                                </div>
                                <div class="text-center" style="padding-bottom: 10px;">
                                    <p class="text-center"><b>Dự án chanh dây</b></p>
                                    <a href="@Url.Action("Details","Products", new {id = 16})" class="text-link-min">Tìm hiểu thêm</a>
                                </div>
                            </li>
                            <!-- End Item Project -->
                        </ul>
                    </section>
                </div>
            </div>
        </div>

    </div>
</section>

