﻿@using HSCB.Models
@using Context.Utilities
@using HSCB.Models

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <section id="featured">
                <!-- start slider -->
                <div class="">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <!-- Slider -->
                                <div id="main-slider" class="flexslider box-shadow">
                                    <ul class="slides">
                                        <li>
                                            <img src="~/Content/images/hscb/anh-ve-cong-ty/hscb.jpg" alt="" class="hidden-sm hidden-xs" />
                                            <img src="~/Content/images/hscb/anh-ve-cong-ty/mobile_3x2_1.jpg" alt="" class="visible-sm visible-xs" />
                                            <div class="flex-caption">
                                                <h3>Luôn đi đầu</h3>
                                                <p>trong việc phát triển các hệ thống trang trại truyền thống theo hướng hữu cơ, với mô hình sản xuất hoàn toàn khép kín...</p>
                                                <a href="@Url.Action("AboutUs", "CompanyStory")" class="btn btn-theme">Tìm hiểu thêm</a>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="~/Content/images/hscb/anh-ve-cong-ty/hscb3.jpg" alt="" class="hidden-sm hidden-xs" />
                                            <img src="~/Content/images/hscb/anh-ve-cong-ty/image003.jpg" alt="" class="visible-sm visible-xs" />
                                            <div class="flex-caption">
                                                <h3>Không ngừng lớn mạnh</h3>
                                                <p>và liên tục phát triển không chỉ về quy mô sản xuất, mà cả về kĩ thuật chăn nuôi, trồng trọt,...</p>
                                                <a href="@Url.Action("AboutUs", "CompanyStory")" class="btn btn-theme">Tìm hiểu thêm</a>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="~/Content/images/hscb/anh-ve-cong-ty/hscb2.jpg" alt="" class="hidden-sm hidden-xs" />
                                            <img src="~/Content/images/hscb/anh-ve-cong-ty/mobile_3x2_2.jpg" alt="" class="visible-sm visible-xs" />
                                            <div class="flex-caption">
                                                <h3>Tầm nhìn</h3>
                                                <p>Trở thành thương hiệu hàng đầu về thực phẩm sạch tự nhiên, nâng cao chất lượng cuộc sống...</p>
                                                <a href="@Url.Action("AboutUs", "CompanyStory")" class="btn btn-theme">Tìm hiểu thêm</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- end slider -->
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section id="news">
                <div class="col-xs-12" style="background-color: #fff;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row padding-side-40">

                                @if (ViewBag.companyActivity != null)
                                {
                                    var data = (HomePageNewsDTO)ViewBag.companyActivity;
                                    if (data?.NewContent != null)
                                    {
                                        var mainTitle = data.NewContent.Title.Truncate(175);
                                        var mainImg = data.NewContent.Image;
                                        var newLink = Url.Action("NewsDetails", "News", new { data.NewContent.Id });

                                        var mainContent = data.NewContent.Description.Truncate(175);

                                        var subNews = data.OldContents;

                                        <div class="col-xs-12 col-lg-6">
                                            <div class="row">
                                                <div class="box-thin">
                                                    <div class="box box-shadow">
                                                        <div class="main-news">
                                                            <div class="box-bottom box-bottom-min">
                                                                <h4>Hoạt động HSCB</h4>
                                                            </div>

                                                            <div class="box-gray aligncenter padding-bottom-10">
                                                                <div class="icon imageContainer imageContainer-large">
                                                                    <a href="@newLink">
                                                                        <div class="img" style="background-image: url('@mainImg');"></div>
                                                                    </a>
                                                                </div>
                                                                <a href="@newLink">
                                                                    <p class="main-title">@mainTitle</p>
                                                                </a>
                                                                <div>
                                                                    <p>@mainContent...<a href='@newLink'> Xem thêm </a></p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sub-news">
                                                            <div class="box-gray padding-bottom-10">
                                                                <div class="row">
                                                                    @foreach (var item in subNews)
                                                                    {
                                                                        var subTitle = item.Title.Truncate(50);
                                                                        var subImg = item.Image;
                                                                        var subLink = Url.Action("NewsDetails", "News", new { item.Id });

                                                                        <div class="col-xs-6">
                                                                            <div class="icon imageContainer">
                                                                                <a href="@subLink" class="sub-new-title">
                                                                                    <div class="img" style="background-image: url('@subImg');"></div>
                                                                                </a>
                                                                            </div>
                                                                            <a href="@subLink" class="sub-new-title">
                                                                                @subTitle
                                                                            </a>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="row">
                                                <div class="box-thin">
                                                    <div class="box box-shadow">
                                                        <div class="main-news">
                                                            <div class="box-bottom box-bottom-min">
                                                                <h4>Hoạt động HSCB</h4>
                                                            </div>

                                                            <div class="box-gray aligncenter padding-bottom-10">
                                                                <div class="icon imageContainer imageContainer-large">
                                                                    <a href="">
                                                                        <div class="img"></div>
                                                                    </a>
                                                                </div>
                                                                <a href="#">
                                                                    <p class="main-title"></p>
                                                                </a>
                                                                <div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sub-news">
                                                            <div class="box-gray padding-bottom-10">
                                                                <div class="row">
                                                                    <div class="col-xs-6">
                                                                        <div class="icon imageContainer">
                                                                            <a href="" class="sub-new-title">
                                                                                <div class="img"></div>
                                                                            </a>
                                                                        </div>
                                                                        <a href="" class="sub-new-title">

                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }

                                @if (ViewBag.productNews != null)
                                {
                                    var data = (HomePageNewsDTO)ViewBag.productNews;

                                    if (data?.NewContent != null)
                                    {
                                        var mainTitle = data.NewContent.Title.Truncate(175);
                                        var mainImg = data.NewContent.Image;
                                        var newLink = Url.Action("NewsDetails", "News", new { data.NewContent.Id });

                                        var mainContent = data.NewContent.Description.Truncate(175);

                                        var subNews = data.OldContents;
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="row">
                                                <div class="box-thin">
                                                    <div class="box box-shadow">
                                                        <div class="main-news">
                                                            <div class="box-bottom box-bottom-min">
                                                                <h4>Tin tức sản phẩm HSCB</h4>
                                                            </div>

                                                            <div class="box-gray aligncenter padding-bottom-10">
                                                                <div class="icon imageContainer imageContainer-large">
                                                                    <a href="@newLink">
                                                                        <div class="img" style="background-image: url('@mainImg');"></div>
                                                                    </a>
                                                                </div>
                                                                <a href="@newLink">
                                                                    <p class="main-title">@mainTitle</p>
                                                                </a>
                                                                <div>
                                                                    <p>@mainContent...<a href='@newLink'> Xem thêm </a></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sub-news">
                                                            <div class="box-gray padding-bottom-10">
                                                                <div class="row">
                                                                    @foreach (var item in subNews)
                                                                    {
                                                                        var subTitle = item.Title.Truncate(50);
                                                                        var subImg = item.Image;
                                                                        var subLink = Url.Action("NewsDetails", "News", new { item.Id });

                                                                        <div class="col-xs-6">
                                                                            <div class="icon imageContainer">
                                                                                <a href="@subLink" class="sub-new-title">
                                                                                    <div class="img" style="background-image: url('@subImg');"></div>
                                                                                </a>
                                                                            </div>
                                                                            <a href="@subLink" class="sub-new-title">
                                                                                @subTitle
                                                                            </a>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-xs-12 col-lg-6">
                                            <div class="row">
                                                <div class="box-thin">
                                                    <div class="box box-shadow">
                                                        <div class="main-news">
                                                            <div class="box-bottom box-bottom-min">
                                                                <h4>Tin tức sản phẩm HSBC</h4>
                                                            </div>

                                                            <div class="box-gray aligncenter padding-bottom-10">
                                                                <div class="icon imageContainer imageContainer-large">
                                                                    <a href="">
                                                                        <div class="img"></div>
                                                                    </a>
                                                                </div>
                                                                <a href="">
                                                                    <p class="main-title"></p>
                                                                </a>
                                                                <div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sub-news">
                                                            <div class="box-gray padding-bottom-10">
                                                                <div class="row">
                                                                    <div class="col-xs-6">
                                                                        <div class="icon imageContainer">
                                                                            <a href="" class="sub-new-title">
                                                                                <div class="img"></div>
                                                                            </a>
                                                                        </div>
                                                                        <a href="" class="sub-new-title">

                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear: both"></div>
            </section>

            <div class="row blue-background" style="background-image: url(/Content/images/hscb/anh-ve-cong-ty/field-1.jpg); background-position: center; background-repeat: no-repeat;">
                <section class="callaction">
                    <div class="">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="big-cta">
                                    <div class="cta-text">
                                        <h2>Lĩnh vực hoạt động HSCB</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="content">
                    <div class="col-xs-12">
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-6">
                                                <div class="row">
                                                    <div class="box-thin-min">
                                                        <div class="box box-shadow">
                                                            <div class="box-bottom box-bottom-revert">
                                                                <h4>Sản xuất chăn nuôi và trồng trọt</h4>
                                                            </div>
                                                            <div class="box-gray aligncenter">
                                                                @*<div class="icon">
                                                                        <img src="~/Content/images/hscb/du-an-bo/image009.jpg"/>
                                                                    </div>*@
                                                                <p style="margin-bottom: 25px;">
                                                                    HSCB tạo dựng thương hiệu của mình trong lĩnh vực nông nghiệp với hệ thống chuồng trại chăn nuôi và trồng trọt theo mô hình hoàn toàn sạch và khép kín.
                                                                    Hiện Công ty đã có hệ thống trang trại, đối tác rộng khắp...
                                                                </p>
                                                                <a href="@Url.Action("FarmSystem", "ActivityField")" class="text-link">- Tìm hiểu thêm -</a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-lg-6">
                                                <div class="row">
                                                    <div class="box-thin-min">
                                                        <div class="box box-shadow">
                                                            <div class="box-bottom box-bottom-revert">
                                                                <h4>Xuất nhập khẩu nông sản</h4>
                                                            </div>
                                                            <div class="box-gray aligncenter">
                                                                @*<div class="icon">
                                                                        <img src="~/Content/images/hscb/chanh-day/img1.png"/>
                                                                    </div>*@
                                                                <p style="margin-bottom: 25px;">
                                                                    Không dừng lại ở việc tiêu thụ sản phẩm trong nước, HSCB còn mong muốn mở rộng thị trường xuất khẩu để mang đến cho người tiêu dùng các nước bạn những sản phẩm chất lượng của doanh nghiệp mình....
                                                                </p>
                                                                <a href="@Url.Action("ImportExport", "ActivityField")" class="text-link">- Tìm hiểu thêm -</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="clear: both"></div>
                </section>
            </div>

            <div class="row" id="product-container">
                <section class="callaction">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="big-cta">
                                    <div class="cta-text">
                                        <h2>Sản phẩm tiêu biểu</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="main-product">
                    <div class="col-xs-12">
                        <!-- Portfolio Projects -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <section id="projects">
                                        <ul id="thumbs" class="portfolio">
                                            <!-- Item Project and Filter Name -->
                                            <li class="item-thumbs col-md-3 col-lg-20" data-id="id-0" data-type="web">
                                                <div class="box-shadow box-shadow-border">
                                                    <div class="item-thumbs">
                                                        <!-- Thumb Image and Description -->
                                                        <a href="@Url.Action("Group","Products", new {id = 1043})">
                                                            <img src="~/Content/images/hscb/du-an-bo/image017.jpg" alt="Bò lai sind, bò Vàng Việt Nam được nuôi với quy trình sạch nên tỉ lệ mỡ rất thấp, bò khỏe, khả năng chống chịu bệnh tốt">
                                                        </a>

                                                    </div>
                                                    <div class="text-center" style="padding: 0px 5px 5px;">
                                                        <a href="@Url.Action("Group", "Products", new {id = 1043})" class="no-decoration">
                                                            <p class="text-center sub-new-title">
                                                                <b>Sản phẩm từ bò</b>
                                                            </p>
                                                            @*<p class="text-center sub-new-title">
                                                                    <b>Dự án bò</b>
                                                                </p>
                                                                <p class="product-intro">
                                                                    Bò lai sind, bò Vàng Việt Nam được nuôi với quy trình sạch nên tỉ lệ mỡ rất thấp,...
                                                                </p>*@
                                                        </a>

                                                        <a href="@Url.Action("Group", "Products", new {id = 1043})" class="text-link-min">Tìm hiểu thêm</a>
                                                        <div style="clear: both"></div>
                                                    </div>
                                                </div>

                                            </li>
                                            <!-- End Item Project -->
                                            <!-- Item Project and Filter Name -->
                                            <li class="item-thumbs col-md-3 col-lg-20" data-id="id-2" data-type="illustrator">
                                                <div class="box-shadow box-shadow-border">
                                                    <div class="item-thumbs">
                                                        <!-- Thumb Image and Description -->
                                                        <a href="@Url.Action("Group","Products", new {id = 1066})">
                                                            <img src="~/Content/images/hscb/trun-que/image089.jpg" alt="Chúng tôi đưa vào hoạt động quy trình hiện đại theo mô hình nuôi Trùn bằng khay. Hiện phân Trùn, dịch Trùn cũng như Trùn thịt được tạo ra từ trang trại đã thu hút được một lượng khách hàng cũng như đối tác rất lớn">
                                                        </a>
                                                    </div>
                                                    <div class="text-center" style="padding: 0px 5px 5px;">
                                                        <a href="@Url.Action("Group", "Products", new {id = 1066})" class="no-decoration">
                                                            <p class="text-center sub-new-title">
                                                                <b>Sản phẩm từ trùn quế</b>
                                                            </p>
                                                            @*<p class="text-center sub-new-title">
                                                                <b>Dự án trùn quế</b>
                                                            </p>
                                                            <p class="product-intro">
                                                                Chúng tôi đưa vào hoạt động quy trình hiện đại theo mô hình nuôi Trùn bằng khay...
                                                            </p>*@
                                                        </a>

                                                        <a href="@Url.Action("Group", "Products", new {id = 1066})" class="text-link-min">Tìm hiểu thêm</a>
                                                        <div style="clear: both"></div>
                                                    </div>
                                                </div>

                                            </li>
                                            <!-- End Item Project -->
                                            <!-- Item Project and Filter Name -->
                                            <li class="item-thumbs col-md-3 col-lg-20" data-id="id-1" data-type="icon">
                                                <div class="box-shadow box-shadow-border">
                                                    <div class="item-thumbs">
                                                        <!-- Thumb Image and Description -->
                                                        <a href="@Url.Action("Group","Products", new {id = 1048})">
                                                            <img src="~/Content/images/hscb/bap-u-chua/image056.jpg" alt="Bắp được ủ và đóng gói với quy trình sản xuất hiện đại, đáp ứng được tiêu chuẩn xuất khẩu của thị trường quốc tế">
                                                        </a>
                                                    </div>
                                                    <div class="text-center" style="padding: 0px 5px 5px;">
                                                        <a href="@Url.Action("Group", "Products", new {id = 1048})" class="no-decoration">
                                                            <p class="text-center sub-new-title">
                                                                <b>Sản phẩm từ bắp</b>
                                                            </p>
                                                            @*<p class="text-center sub-new-title">
                                                                <b>Dự án bắp</b>
                                                            </p>
                                                            <p class="product-intro">
                                                                Bắp được ủ và đóng gói với quy trình sản xuất hiện đại, đáp ứng tiêu chuẩn xuất khẩu...
                                                            </p>*@
                                                        </a>

                                                        <a href="@Url.Action("Group", "Products", new {id = 1048})" class="text-link-min">Tìm hiểu thêm</a>
                                                        <div style="clear: both"></div>
                                                    </div>
                                                </div>

                                            </li>
                                            <!-- End Item Project -->
                                            <!-- Item Project and Filter Name -->
                                            <li class="item-thumbs col-md-3 col-lg-20" data-id="id-2" data-type="illustrator">
                                                <div class="box-shadow box-shadow-border">
                                                    <div class="item-thumbs">
                                                        <!-- Thumb Image and Description -->
                                                        <a href="@Url.Action("Group","Products", new {id = 1032})">
                                                            <img src="~/Content/images/hscb/san-pham-nha-dam/nhadam-resize.jpg" alt="Chúng tôi cung cấp nha đam nguyên lá, đông lạnh, thịt nha đam, thạch nha đam, nha đam sấy khô, bột nha đam">
                                                        </a>
                                                    </div>
                                                    <div class="text-center" style="padding: 0px 5px 5px;">
                                                        <a href="@Url.Action("Group", "Products", new {id = 1032})" class="no-decoration">
                                                            <p class="text-center sub-new-title">
                                                                <b>Sản phẩm từ nha đam</b>
                                                            </p>
                                                            @*<p class="text-center sub-new-title">
                                                                <b>Sản phẩm từ nha đam</b>
                                                            </p>
                                                            <p class="product-intro">
                                                                Chúng tôi cung cấp nha đam nguyên lá, đông lạnh, thịt nha đam, thạch nha đam,...
                                                            </p>*@
                                                        </a>
                                                        <a href="@Url.Action("Group", "Products", new {id = 1032})" class="text-link-min">Tìm hiểu thêm</a>
                                                        <div style="clear: both"></div>
                                                    </div>
                                                </div>

                                            </li>
                                            <!-- End Item Project -->
                                            <!-- Item Project and Filter Name -->
                                            <li class="item-thumbs col-md-3 col-lg-20" data-id="id-2" data-type="illustrator">
                                                <div class="box-shadow box-shadow-border">
                                                    <div class="item-thumbs box-shadow">
                                                        <!-- Thumb Image and Description -->
                                                        <a href="@Url.Action("Group","Products", new {id = 1057})">
                                                            <img src="~/Content/images/hscb/chanh-day/img0-resize.jpg" alt="Chúng tôi cung cấp chanh dây tươi, dịch chanh dây.">
                                                        </a>
                                                    </div>
                                                    <div class="text-center" style="padding: 0px 5px 5px;">
                                                        <a href="@Url.Action("Group", "Products", new {id = 1057})" class="no-decoration">
                                                            <p class="text-center sub-new-title">
                                                                <b>Sản phẩm từ chanh dây</b>
                                                            </p>
                                                            @*<p class="text-center sub-new-title">
                                                                <b>Dự án chanh dây</b>
                                                            </p>
                                                            <p class="product-intro">
                                                                Chúng tôi cung cấp chanh dây tươi, dịch chanh dây với hệ thống trang trại sạch...
                                                            </p>*@
                                                        </a>
                                                        <a href="@Url.Action("Group", "Products", new {id = 1057})" class="text-link-min">Tìm hiểu thêm</a>
                                                        <div style="clear: both"></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- End Item Project -->

                                            <li style="clear: both"></li>
                                        </ul>
                                        <div class="text-center">
                                            <br />
                                            <a href="@Url.Action("Index", "Products")" class="text-link" style="font-size: 18px"><b>- Xem thêm sản phẩm -</b></a>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </section>
            </div>

            <section class="callaction">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="big-cta">
                                <div class="cta-text">
                                    <br />
                                    <h2>Đăng ký nhận bản tin</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="reveive-news">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12" id="frmReceiveNews">
                            @using (Html.BeginForm("ReceiveNews", "Contact", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                                        <div class="row">
                                            <p class="text-danger" id="emailError"></p>
                                            <div class="form-group">
                                                <div class="col-xs-12 col-md-9" style="margin-bottom: 10px">
                                                    @Html.TextBox("email", null, new { @class = "form-control" })
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <button type="button" class="btn btn-success" id="btnReceiveNews">Đăng ký</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="~/Scripts/validate.js"></script>


