@using Context.Dao
@using HSCB.SingleTon
@{
    var listCategory = new CategoryDao().GetAll();
    var listProduct = listCategory.Where(c => c.ParentID == 3).ToList();
}

<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Content/images/logo.png" width="150" height="auto"/>
            </a>
        </div>
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav">
                <li class=""><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>&nbsp; Trang chủ</a></li>
                <li class="dropdown">
                    <a href="@Url.Action("Index","CompanyStory")" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                        <i class="fa fa-history"></i>&nbsp; Câu chuyện HSCB <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("AboutUs","CompanyStory")">Về chúng tôi</a></li>
                        <li><a href="@Url.Action("DevelopmentPlan","CompanyStory")">Chiến lược phát triển</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="@Url.Action("Index","ActivityField")" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                        <i class="fa fa-pie-chart"></i>&nbsp; Lĩnh vực hoạt động <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("FarmSystem","ActivityField")">Sản xuất chăn nuôi và trồng trọt</a></li>
                        <li><a href="@Url.Action("ImportExport","ActivityField")">Xuất nhập khẩu nông sản</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="@Url.Action("Index","Products")" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                        <i class="fa fa-shopping-cart"></i>&nbsp; Sản phẩm <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in listProduct)
                        {
                            <li><a href="@Url.Action("Details", "Products", new {id = item.ID})">Sản phẩm từ @item.Name</a></li>    
                        }
                       
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="@Url.Action("Index","News")" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                        <i class="fa fa-info-circle"></i>&nbsp; Tin tức - Sự kiện <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Activity","News")">Hoạt động HSCB</a></li>
                        <li><a href="@Url.Action("ProductNews","News")">Tin tức sản phẩm</a></li>
                        <li><a href="@Url.Action("PressRelease","News")">Thông cáo báo chí về HSCB</a></li>
                    </ul>
                </li>
                <li><a href="@Url.Action("Index","Contact")"><i class="fa fa-user"></i>&nbsp; Liên hệ</a></li>
            </ul>
        </div>
    </div>
</div>