
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="changePassword">
    @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="title"><h1>Đổi mật khẩu</h1></div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="form-group">
                @Html.Label("Mật khẩu cũ", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Password("oldPassword", null, new { @class = "form-control" , @required = "required"})
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Mật khẩu mới", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Password("newPassword", null, new { @class = "form-control", @required = "required" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Nhập lại mật khẩu mới", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Password("newPasswordRetype", null, new { @class = "form-control", @required = "required" })
                    <p class="text-danger" id="error"></p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Save" class="btn btn-info" id="btnChangePassword"/>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function() {
        $("#btnChangePassword").click(function () {
            var oldPass = $("#oldPassword").val();
            var newPass = $("#newPassword").val();
            var newPassRetype = $("#newPasswordRetype").val();

            if (oldPass === "") {
                $("#error").html("Chưa nhập mật khẩu!");
            } else if (newPass === "") {
                $("#error").html("Chưa nhập mật khẩu mới!");
            } else if (newPass !== newPassRetype) {
                $("#error").html("Mật khẩu nhập lại không khớp!");
            } else {
                $("#changePassword form").submit();
            }
        });
    });
</script>
